#project-notin-warn {
    color: #666;
}

#project-wrap h3 {
    margin: 10px 0;
    line-height: 2;
    color: #6F96D4;
}

#project-wrap dl {
    overflow: auto;
    line-height: 2;
    margin-bottom: 30px;
}

#project-wrap dt {
    float: left;
    clear: left;
    width: 150px;
}

#project-wrap dd {
    float: left;
}

#project-wrap dd i {
    cursor: pointer;
    color: #5072A8;
    margin-left: 8px;
    transition: color .3s;
}

#project-wrap dd i:hover {
    color: #203C6A;
}

#project-wrap dd:not([data-file]) i {
    display: none;
}

.project-checking {
    color: #888;
}

#project-check {
    margin-top: 10px;
}

#project-check h5 {
    margin: 0;
    padding: 2px 10px;
    background: #CEE5BB;
    color: #6C805C;
    line-height: 2;
    font-size: 12px;
    font-weight: 400;
}

#project-check h5 b {
    display: inline-block;
    width: 100px;
}

#project-check .project-check-item-pain {
    background: #E5BBBB;
    color: #805C5F;
}

#project-check ul {
    list-style: none;
}

#project-check li {
    background: #e7e7e7;
    font-size: 12px;
    line-height: 2;
    padding: 2px 15px;
}

#project-check-start .fa-spin {
    display: none;
}

#project-check-start:disabled .fa-spin {
    display: inline;
}

#project-check-start:disabled .fa-play {
    display: none;
}

